
<html>
 <head>Welcome to {{greeting_msg}}</head>
 <body>
	<h1>Configuration management Tools used is {{cm_tool}}</h1>
	<h1>Provisioned by {{provisioner_tool}}</h1>
	<h1>Hostname is {{ansible_hostname}}</h1>
	<h1>OS is {{ansible_os_family}}</h1>
        <h1>{{final_msg}}<h1>
 </body>
</html>
